body {
  background: url("/images/plant.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 50px;
  font: 14px "Helvetica", Helvetica, Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  background-color: rgba(0, 0, 0, .4);
  border-radius: 10px;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

#listToggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.clickedOn {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.completedGreen{
  color: green;
}

.fa{
  margin-left: 10px;
  cursor: pointer;
}
.edit {
  display: flex;
  display: none;
  flex-direction: row;
  cursor: pointer;
}

.display{
  display: flex;
}

.item{
  display: flex;
  justify-content: center;
}

.hidden{
  display:none;
}

li {
  display: flex;
  flex-direction: row;
}


a {
  color: #00B7FF;
}

.isComplete {
  margin-left: 10px;
}

.rowWidth{
  width: 25%;
}

.checkBoxContainer{
  display: flex;
  justify-content: flex-end;
}

.checkBox{
  margin-right: 5%;
}

.addTaskInput {
  display: flex;
  justify-content: center;
  padding: 3%;
}

.buttonPadding {
  margin: 0% 0% 0% 2%;
}

.deleteContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.deleteButton {
  width: 15%;
  align-self: center;
}

.strikethrough{
  text-decoration: line-through;
}
